.to-cart-block{
    width: 100%;
    background-color: #313133;
    padding: 1.1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.no-item-text{
    color: white;
    padding-right: 20rem;
}