.items-table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.items-table td, .items-table th{
    padding: 1.5rem .7rem .7rem .6rem;
    text-align: left;
    border-bottom: 0.1rem solid #EFEFEF;
}
.items-table th{
    font-size: small;
    font-weight: normal;
}